@import '../../index.scss';

.button {
  @include standard-block;
  cursor: pointer;
  font: $font;
  border: none;
  box-shadow: 0 4px 4px $shadowColor;

  &:hover {
    background: $blockDarkColor;
  }

  &:active {
    box-shadow: inset 0px 4px 4px $shadowColor;
  }

  &:disabled {
    box-shadow: none;
    background-color: $blockColor;
  }
}
