.response-box {
  margin: 0 30px;
  display: flex;
  flex-direction: column;

  .btn {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 40px;
  }

  .results {
    position: relative;
  }
}
