.start-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0 30px;

  h2 {
    margin-bottom: 50px;
  }

  .quizzes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .btn {
    margin: 30px auto;
  }
}
