@import '../../index.scss';

.quiz-box {
  position: relative;
  margin: 0 30px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
}

.error {
  @include error;
}

.loader {
  @include loader;
}
