@import '../../index.scss';

.checkbox-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;

  .column {
    display: flex;
    flex-direction: column;
  }

  .checkbox {
    @include item;
  }

  .picture {
    @include picture;
  }
}
