@import '../../index.scss';

.response {
  @include standard-block;
  margin: 10px auto;
  width: 50%;

  .question {
    text-align: center;
    padding-bottom: 5px;
  }

  .right {
    color: $green;

    .right-chooseOne,
    .right-chooseMany {
      display: inline;
    }
  }

  .wrong {
    padding-top: 5px;
    color: $red;

    .wrong-chooseOne,
    .wrong-chooseMany {
      display: inline;
    }
  }
}
