@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$backgroundColor: #9de9db;
$blockColor: #49d7bd;
$blockDarkColor: #1ba088;
$shadowColor: rgba(0, 0, 0, 25%);
$green: #1d9222;
$red: #c71212;
$font: 20px 'Montserrat', sans-serif;

body {
  margin: 0;
  font: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  user-select: none;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: $backgroundColor;
}

::-webkit-scrollbar-thumb {
  background-color: $blockColor;
  border-radius: 10px;
}

@mixin standard-block {
  background-color: $blockColor;
  border-radius: 40px;
  padding: 10px 20px;
}

@mixin item {
  min-width: 380px;

  label {
    @include standard-block;
    margin: 10px;
    box-shadow: 0 4px 4px $shadowColor;
    display: block;
    cursor: pointer;
  }

  input {
    position: absolute;
    width: 0;
    height: 0;

    &:checked + label {
      background: $blockDarkColor;
      box-shadow: inset 0px 4px 4px $shadowColor;
    }
  }
}

@mixin picture {
  width: 400px;
  height: auto;
  border: 2px solid $blockDarkColor;
  border-radius: 40px;
}

@mixin error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid $blockDarkColor;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.error {
  @include error;

  .loader {
    @include loader;
  }
}
